<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 
  </style>
  <script src="https://kit.fontawesome.com/d403719a44.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-light bg-primary">
    <div class="mr-5" >
      <a class="navbar-brand" href="/registrar/" style="color: white; font-size: 30px; font-weight:bold;">Home</a>
      <a class="navbar-brand" href="/registrar/newcase/" style="color: white; font-size: 30px;">Newcase</a>
      <a class="navbar-brand" href="/registrar/pending/" style="color: white; font-size: 30px;">Pending cases</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="color: white; font-size: 15px;">
        <a class="nav-link ml-auto mr-5" href="/registrar/resolved/" style="color:white; font-size: 24px;">Resolved Cases</a>
        <!-- <a class="nav-link ml-auto mr-5" href="/registrar/hearing/" style="color:white; font-size: 24px;">Allot hearing date</a> -->
        <a class="nav-link ml-auto mr-5" href="/registrar/particular_case/" style="color:white; font-size: 24px;">Particular Case search</a>
        <a class="nav-link ml-auto mr-5" href="/registrar/hearing_update/" style="color:white; font-size: 24px;">Update hearing deatils</a>
        <a class="nav-link ml-auto mr-5" href="/registrar/case_closed/" style="color:white; font-size: 24px;">Allot JudgeMent Summary</a>
        <a class="nav-link ml-auto mr-5" href="/registrar/new_lawyer/" style="color:white; font-size: 24px;">Create new Laywer</a>
        <a class="nav-link ml-auto mr-5" href="/registrar/new_judge/" style="color:white; font-size: 24px;">Create new Judge </a>

        <a class="nav-link ml-auto mr-5" href="/" style="color:white; font-size: 24px;">Log out</a>
       
      </div>
    </div>
  </nav>
</body>

