<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 
  </style>
  <script src="https://kit.fontawesome.com/d403719a44.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-primary">
    <div class="mr-5" >
      <a class="navbar-brand" href="/lawyer" style="color: white; font-size: 30px; font-weight:bold;">Home</a>
      <a class="navbar-brand" href="/lawyer/pastcase" style="color: white; font-size: 30px;">Search</a>
      <a class="navbar-brand" href="/lawyer/resolved" style="color: white; font-size: 30px;">Search_keyword</a>
      <!-- <a style="color:white;">Due Credits: {{ due_credits }}</a> -->
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="color: white; font-size: 15px;">
        <a class="nav-link ml-auto mr-5" href="/" style="color:white; font-size: 24px;">Log out</a>
       
      </div>
    </div>
  </nav>
</body>
  
  <style>
    table, th, td {
    border:1px solid black;
  }
  </style>
  
  {% if error_message %}
  <div  class="alert alert-danger" role="alert" style="text-align: center;">
   <p style="text-align: center;" >Error No cases found!</p> 
  </div>
  {% else %}
  
  
  
  
  <div class="main">
    <h1 class="pt-4" style="text-align: center;" >Searched Case Results</h1>
  
    <table class="table table-striped" style="width:100%">
      <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">CIN</th>
        <th scope="col">Start Date</th>
        <th scope="col">Defendant</th>
        <th scope="col">Address</th>
        <th scope="col">Crime Type</th>
        <th scope="col">Lawyer</th>
        <th scope="col">Public Prosecuter</th>
        <th scope="col">Attending Judge</th>
        <th scope="col">Judgement date</th>
        <th scope="col">Judgement Summary</th>


        
  
      </tr>
      </thead>
      {% for case in object_list %}
      <tbody>
      <tr>
        <th>
          {% if case.status == True %} Pending {% endif %}
          {% if case.status == False %} Resolved {% endif %}
        </th>
        <td scope="row">{{case.cin}}</td>
        <td>{{case.starting_date}}</td>
        <td>{{case.defendant}}</td>
        <td>{{case.defendant_address}}</td>
        <td>{{case.crimetype}}</td>
        <td>{{case.lawyer}}</td>
        <td>{{case.public_prosecuter}}</td>
        <td>{{case.attending_judge}}</td>
      
        <td>{{case.judgement_date}}</td>
        <td>{{case.judgement_summary}}</td>
      </tr>
    </tbody>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  
  <div class="footer">
    <div class="container text-center">
      <p>If we want truth and justice to rule our global village, there must be no hypocrisy. If there is no truth, then there will be no equality. No equality, no justice. No justice, no peace. No peace, no love. No love, only darkness.</p>
      <i class="fa-solid fa-scale-balanced fa-2x mt-1"></i>
    </div>
  </div>

  
<style>
  /* Footer Styles */
  .footer {
    background-color: lightgrey;
    color: black;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer p {
    margin: 0;
    line-height: 1.5;
  }

  .footer img {
    width: 50px; /* adjust size as needed */
    margin-top: 10px; /* adjust margin as needed */
  }
</style>